@use 'sass:color';
@use 'sass:math';

$background: #303030;
$background-item: #404040;
$border-item: #303030;
$color-remove: #ccc;
$background-hover: #555;
$background-highlight: #ff7c7c73;
$box-shadow: 0 0 15px rgb(0 0 0 / 15%);
$border-active-input: #c8716c;
$border-input: #cecece;
$color-highlight: #f5807a;
$color: #dadada;
$spinner: #7ab3dd;

.select-content.custom {
  background-color: $background;
  border: 1px solid $border-input;

  .select-content {
    &.open {
      border: 1px solid $border-active-input;

      .select-selector {
        &__search {
          .search-content {
            &__placeholder {
              color: color.adjust($color, $lightness: 25%);
              transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
          }
        }
      }
    }
  }
}

.select-selector.custom {
  .select-selector {
    &__search {
      .search-content {
        &__input {
          color: $color;
        }
      }
    }

    &__overflow {
      .overflow-content {
        &__wrapper {
          color: $color;
          background-color: $background-item;
          border: 1px solid $border-item;

          > :last-child {
            svg {
              fill: $color-remove;
            }
          }
        }
        &__input {
          color: $color;
        }
      }
    }
  }
}

.select-chevron.custom {
  > :first-child {
    background-color: $background-item;
    fill: $color;
  }

  > :last-child {
    cursor: pointer;
    fill: $color;
  }
}

.select-list.custom {
  box-shadow: $box-shadow;

  .select-list {
    &__wrapper {
      background-color: $background-item;

      &::-webkit-scrollbar-thumb {
        background-color: $color-highlight;
        box-shadow: inset 0 0 5px $background-hover;
      }
    }

    &__options {
      .option-item {
        &__text {
          color: $color;
          &_highlight {
            color: $color-highlight;
          }
        }

        &__none {
          color: $color;
        }

        &:hover {
          background-color: $background-hover;
        }

        &.hovered {
          background-color: $background-hover;
        }

        &.selected {
          background-color: $background-highlight;
        }
      }
    }
  }
}

.select-spinner.custom {
  .select-spinner {
    .spinner-inner-1 {
      background: linear-gradient(
        to right,
        rgba($spinner, 0) 0%,
        rgba($spinner, 0) 50%,
        $spinner 51%
      );
    }

    .spinner-inner-2 {
      background: linear-gradient(to top, rgba($background, 0) 0%, $background 100%);
    }

    .spinner-inner-3 {
      background: $background;
    }
  }
}
